<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Acesso à rede Wi-Fi para falar com o servidor do PC -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- usesCleartextTraffic: o servidor do curso usa http (sem https) na rede local -->
    <application
        android:label="Coletor WMS"
        android:theme="@android:style/Theme.Material.Light.DarkActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity" android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OperacaoActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>
</manifest>
